@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");


html {
  font-size: 10px;
}

* {
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  color: #333;
}

.main--page{
    max-width : 85%;
    margin : 1rem auto
}


.header {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 2rem;
}

.search--bar {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;

  margin: 1rem;
}

.search--button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
  margin: 1rem;
}
.search--button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.search--options {
  font-size: 2rem;
  padding-top: 5px;
  margin: 1rem;
}

/** Styling of Display Cards **/

.grid--item {
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: 1fr;
    margin: 2rem 4rem;
   
  }

 

/** IMAGE CAROUSEL **/

.slider {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  width: 256px;
  height: 400px;
}

.card-image{
  
  height: 400px;
  margin: 3rem 1rem;
  border-radius: 5%;
  padding: 0.2rem 2rem;

}

/* .card-image:hover{
   
    box-shadow: 0 3rem 6rem rgba(205, 65, 224, 0.644);
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-0.5%);
  transform: translateX(-0.5%);
} */

.img-available:hover{
    box-shadow: 0 2rem 8rem rgba(11, 233, 29, 0.897);
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-0.5%);
  transform: translateX(-0.5%);
}

.img-out_of_stock:hover{
    box-shadow: 0 2rem 8rem rgba(233, 11, 11, 0.897);
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-0.5%);
  transform: translateX(-0.5%);
}


.right-arrow {
  position: absolute;
   top: 50%; 
  right: 12px;
  font-size: 1rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 12px;
    font-size: 1rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.cardd{
    display: flex;
    justify-content: center;
}

.card{
    
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  background-color: #ffffff;

}
.card:hover{
    transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
/** CARD CONTENT **/

.card-content{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 3rem;
}

.card-content > *{
    text-align: center;
}

.item-name{
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.available{
    color: rgb(94, 255, 0);
    margin-left: auto;
    margin-right: 1.5rem;
    padding-bottom: 1.3rem;
}

.out_of_stock{
    color: red;
    margin-left: auto;
    margin-right: 1.5rem;
    padding-bottom: 1.3rem;
}

@media only screen and (min-width: 786px) {
  .header {
    grid-template-columns: 1fr auto auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .grid--item {
    display: grid;
   
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 0.5fr));
    
   
  }

}
