@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  color: #333;
  background-color: #eee;
}

.main--page {
    max-width: 90%;
    margin: 1rem auto;
}

.header {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 2rem;
}

.search--bar {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  max-width: 95%;
  margin: 1rem;
}

.search--button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  max-width: 95%;
  transition: background-color 250ms;
  margin: 1rem;
}
.search--button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.search--options {
  font-size: 2rem;
  padding-top: 5px;
  margin: 1rem;
}

/** Styling of Display Cards **/

.grid--item {
  display: grid;
  grid-gap: 6rem;
  grid-template-columns: auto;
  margin: 2rem 4rem;
}

/** IMAGE CAROUSEL **/

.slider {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  width: 256px;
}

.card-image {
  height: 400px;
  margin: 3rem 1rem;
  border-radius: 5%;
  padding: 1rem 2rem;
  width: auto;

}

/* .card-image:hover{
   
    box-shadow: 0 3rem 6rem rgba(205, 65, 224, 0.644);
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-0.5%);
  transform: translateX(-0.5%);
} */

.img-available:hover {
  box-shadow: 0 2rem 8rem rgba(11, 233, 29, 0.897);
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-0.5%);
  transform: translateX(-0.5%);
  /* border-radius: %; */
}

.img-out_of_stock:hover {
  box-shadow: 0 2rem 8rem rgba(233, 11, 11, 0.897);
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-0.5%);
  transform: translateX(-0.5%);
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  font-size: 1rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 1rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.cardd {
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 0.4rem;
  overflow: hidden;
  /* box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  transition: 0.2s;
  background-color: #ffffff;
  max-width: 350px;
  
}
.card:hover {
  /* transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5); */
}
/** CARD CONTENT **/

.card-content {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content > * {
  text-align: center;
}

.item-name {
    
}

.available {
  color: rgb(94, 255, 0);
  margin-left: auto;
  margin-right: 1.5rem;
  padding-bottom: 1.3rem;
}

.out_of_stock {
  color: red;
  margin-left: auto;
  margin-right: 1.5rem;
  padding-bottom: 1.3rem;
}

.nodata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nodata-btn{
    background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  max-width: 95%;
  transition: background-color 250ms;
  margin: 1rem;
  margin-top: 2rem;
}

.nodata-btn:hover{
    background-color: rgba(0, 0, 0, 0.85);
}
.nodata-img {
    max-width : 100%;
    max-height: 100%;
       
}

.nodata-btn > a {
  text-decoration: none;
  padding: 0.6rem;
  font-size: 1.5rem;
  color: white;
}

@media only screen and (min-width: 1200px) {
  .header {
    grid-template-columns: 1fr auto auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .grid--item {
    display: grid;

    grid-gap: 6rem;
    grid-template-columns: repeat(3, 1fr);
  }
  
}
/* 
@media only screen (min-width:430px) and (max-width:785px) {
  body{
    background-color: red;
  }  
} */
@media all and (max-width: 1199px) and (min-width: 673px){
   
        .grid--item {
            display: grid;
        
            grid-gap: 2rem;
            grid-template-columns: repeat(2 , 0.8fr);
          }
        }